.h-100vh{
    height: 100vh;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.info-title{
    font-size:1.7rem;
    font-family: "PPMori";
}

a{
    text-decoration: none;
    color: #000 !important;
}

@font-face {
    font-family: "BasisGrotesqueArabicPro";
    src: url(../fonts/BasisGrotesqueArabicPro-Regular.ttf)
}

@font-face {
    font-family: "PPMori";
    src: url(../fonts/PPMori-Regular.otf)
}

@font-face {
    font-family: "PPMoriExtraLight";
    src: url(../fonts/PPMori-Extralight.otf);
}

*{
    font-family: "PPMori" !important;
}



.navbar-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-title{
    cursor: pointer;
    font-family: "PPMori";
    font-size: clamp(1.8rem, 4vw, 3rem) !important; /* Ajuste entre 1.5rem y 3rem */
    font-weight: 200;
}

.menu-title:hover{
    color: #868686;
}


.bg-cream{
    background-color: #fdf6ed !important;
}

.navbar-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.info-title{
    font-size:1.7rem;
    font-family: "PPMori";
}

.text-hover {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    padding: 0 0 6px;
}
  
.text-hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: #000000;
    transition: left .8s;
}
  
.text-hover:hover:after {
    left: 0;
}

.w-40t{
    width: 40% !important;
}
